body
{
	background: url(../image.jpg) no-repeat;
	background-position: center;
}
.textdis
{
	font:"Times New Roman", Times, serif;
font-size:15px; color: #933;
border:2px groove #933;
border-radius:5px;
background:#FC9;
}

.text{
font:"Times New Roman", Times, serif;
font-size:18px; color: #933;
border:2px groove #933;
border-radius:5px;
background:#FC9;
}
.box{
padding:3px;
border:2px solid #933;
border-radius:5px;
}

.signin{
font-size:20px; color:#933;
font-family:"Times New Roman", Times, serif;
text-align:center;
border:2px groove #933;
border-radius:5px;
background: #FC9;
}
h1{
	background:#FC9;
	color:#933;
	width:250px;
	height:40px;
    border:2px groove #933;
    border-radius:5px;
}
h2{
	background:#FC9;
	color:#933;
	width:250px;
	height:30px;
	border:2px groove #933;
    border-radius:5px;
}
a:hover{
	color:#933;
}
	